body {
  margin: 0;
  padding: 0;
}

.coordinate {
  width: 490px;
  margin: .1em 0;
}

.memo {
  width: 490px;
  margin: .1em 0;
}

.input-memo {
  width: 300px;
  margin: .1em 0;
}

.container {
  margin: 1em auto;
}

.image-set {
  display: flex;
  flex-wrap: wrap; /* FlexboxのWrap機能を有効にする */
  /* justify-content: space-between; */
}

.image-set__box {
  width: 300px;
  position: relative;
  margin: .2em;
}

img {
  max-width: 100%;
  display: block;
}
